.item-list{
    list-style-type: none;
    padding: 50;
    margin-bottom: 40px;
    }
    .item-list li{
    background: rgb(40, 4, 241);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    padding: 15px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
    }

.item{
    padding: auto;

}